body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    margin: 16px;
}

/* link styling */
a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: palevioletred;
    text-decoration: underline black wavy 1px;
}

a:visited {
    color: black;
}

/* header and footer styling*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 80px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header, .footer {
    background-color: rgb(100, 180, 119);
    padding: 16px 80px;
}

.section-one, .section-two, .section-three, .section-four {
    padding: 30px 80px;
}


/* section one */

.section-one {
    background-color: rgb(100, 180, 119);
    color: rgb(0, 0, 0);
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.intro {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 200px;
    align-items: center;
    text-align: left;
}

.section-one img {
    width: auto;
}

.section-one h1 {
    margin: 0;
}

/* section two */

.section-two {
    display: flex;
    flex-direction: column;
    background-color:  rgb(231, 173, 181);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.profile-individual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-individual img {
    width: 150px;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-width: thin;
}


/* section three */

.section-three {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    display: flex;
    width: 500px;
    flex-direction: column;
}

#quote {
    font-style: italic;
    font-size: 18px;
}

#quote-author {
    text-align: right;
    font-weight: bold;
}

/* section four */

.section-four {
    display: flex;
    background-color: rgb(231, 173, 181);
    justify-content: center;
}

.sign-up-banner {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 16px 32px;
    gap: 5px 25px;
    align-items: center;
    flex-wrap: wrap;
}